header{

    margin-left:-10px;
    margin-right:-10px;
    margin-top:-10px;
    height:150px;
    background: #0A2A12;
    position:relative;
    min-width: 1300px;
}

body{
    height: 900px;
    background-image: radial-gradient(#37934c, #145f26);
}

/*--------------------------------- INDEX -----------------------------------*/

#login{
    text-align: center;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    color: white;
    padding-top: 120px;
    position: relative;
    min-width: 1100px;
    p{
        position: center;
    }
}

.caixa_inf{
    border: 0px;
    padding: 15px;
    margin: 20px 2px 0 0;
    font-size: 25px;
    font-family: 'Abel', sans-serif;

}
.button_entrar{
    margin: 20px 0 0 0;
    border: 0;
    background: #0A2A12;
    color: white;
    font-size: 30px;
    padding: 8px 40px;
}
/*--------------------------------- RECEITAS ----------------------------------*/

#caixa{
    height: 3000px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30;
    min-width: 1250px;
}
.light_diet{
    height: 500px;
    margin-top: 30px;
}

.receita{
    width: 250px;
    height: 200px;
    background-color: rgba(10, 42, 18, 0.5);
    margin-left: 80px;
    position: absolute;
    margin-top: -20px;
}
.light_diet p{
    color: white;
    font-size: 40px;
    font-family: 'Abel', sans-serif;
}
 .light_diet .receita p{
    font-size: 20px;
    color: white;
    margin-top: 0;
    margin-left: 0;
    font-family: 'Abel', sans-serif;
}
#menor{
    height: 300px;
}
/*--------------------------------- RECEITAS ESQUELETO ----------------------------------*/

h1{
    text-align: center;
    color: white;
    font-family: 'Abel', sans-serif;
}

p{
    margin-left: 50px;
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}



#rece_esque{
    position: relative;
    top: 50px;
    height: 1200px;
}

#rece_tab{
    padding-top: 80px;
}

#rece_info{
    position: relative;
    left: 405px;
    bottom: 750px;
    width: 400px;
    font-family: 'Abel', sans-serif;
}
#origem{
    text-align: center;
    color: white;
}

#rece_img{
    width: 400px;
    position: relative;
    height: 200px;
    bottom: 120px;
    top: 20px;
}
#ohref{
    text-align: center;
}

h2{
    color: white;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

#ing{
    font-size: 19px;
}
a:link{
    color: white;
}
a:visited{
    color: #0A2A12;
}
a:hover{
    color:#0A2A12;
}
a:active{
    color:#0A2A12;
}




/*--------------------------------- LOCAIS ----------------------------------*/

#caixa_locais{
    width: 700px;
    height: 3300px;
    padding-bottom: 30px;

}
#caixa_restaurantes{
    width: 700px;
    margin-top: 200px;
    height: 2000px;
    margin-left: 740px;
    margin-top: -3135px; 
}

.locais{
    height: 160px;
    width: 350px;
    background-color: rgba(10, 42, 18, 0.5);
    margin-top: 20px;
    position: absolute;
    border: 4px solid;

}
h3{
    font-size: 50px;
    color: black;
    margin-left: 300px;
}

#caixa_restaurantes .locais{
    border-color: grey;
}
#caixa_locais .locais{
    border-color: white;
}
#caixa_restaurantes h3{
    color: grey;
    margin-left: 190px;
    
    
}
#caixa_restaurantes{
    padding-top: 0;
    margin-top: 0;
    top: -3310px;
    position: relative;
}
.locais p{
    max-width: 140px;
    
}
.top{
    padding-top: 175px;
}
.left{
    padding-left: 365px;
}
.nome_local {
    color: white;
    font-size: 19px;
    left: 160px;
    top: -155px;
    position: relative;
}
/*------------------------------- RESTAURANTE -------------------------------*/ 

.local{
    margin: 0 auto;
    margin-right: 50px;
    margin-top: 50px;
    height: 400px;
    width: 1200px;
}
#imagem_local
{
    position:relative;
    top:50px
    max-height: 400px;
}
#plocal{
    color:white;
    margin-left: 450px;    
    text-align: center;

}
#description{
    margin: 0 auto;
    margin-left: 0px;
    width: 700px;
    position: relative;
    left:500px;
    top:-250px;
    text-align: justify;

}
#textlocal{
    font-size: 25;
    color: white;
    position: relative;
    left:-10px;
    text-align: center;
}
#intro{
    color:white;
    position: relative;
    left:-40;
    top:30px;
}

#infra{
    color: white;
}
#address{
    color:white;
    position: relative;
    left:-40;
    top:70px;
    padding-bottom: 0;

}
.nome{
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    color: #0A2A12;
    padding: 6px 36px 6px 36px;
}
.email{

    font-size: 18px;
    font-family: 'Abel', sans-serif;
    color: #0A2A12;
    padding: 6px 36px 6px 36px;
}
.enviar{
    top: 220px;
    margin-left: 983px;
    font-size: 28px;
    font-family: 'Abel', sans-serif;
    color: white;
    border: 0;    
    position: relative;
}
.comentario{
    font-size: 35px;
    font-family: 'Abel', sans-serif;
    color: white;    
    padding: 36px 34px 36px 34px;
    max-width: 175px;
    max-height: 46px;
    position: relative;
    top: 400px;
    margin: 0 auto;
}
.caixacomment{    
    font-family: 'Abel', sans-serif;
    color: #0A2A12;
    font-style: bold;    
    padding: 100px 400px 0px 34px;
    width: 200px;
    height: 100px;
    position: relative;
    top: 300px;
    margin: 0 auto;
    margin-bottom: 300px;
}

/*--------------------------------- SOBRE -----------------------------------*/


#titulo{
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    color: white;
    text-align: center;
    padding-top: 120px;
}
#tudo{
    
    min-width: 1000px;
}
#sobre{
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    color: white;
    margin-left: 190px;
    margin-top: -140px;
    max-width: 450px;
    min-width: 400px;
    text-align: center;
}
#contato{
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    color: white;
    max-width: 400px;
    margin-left: 800px;
    min-width: 400px;
    text-align: center;
}


/*--------------------------------- MAPA -----------------------------------*/

#googleMap{
    position: relative;

}

#pesquisa{
    font-size: 40px;
    font-family: 'Abel', sans-serif;
    color: white;
    padding: 30px 0 -200px 75px;
    margin: 0;
    left: 10px;
    position: relative;
    text-align: left;
}
#pbusca{
    font-size: 40px;
    font-family: 'Abel', sans-serif;
    color: white;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    
}
#mapa{
    top: -15px;
    position: relative;
    left: 30px;
}
.caixainput{
    border: 0px;
    padding: 0;
    margin: 20px 2px 0 0;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    left: 100px;
    top: -40px;
    height: 25px;

}
.botaobusca{
    margin: 20px 0 0 0;
    border: 0;
    background: #0A2A12;
    color: white;
    font-size: 20px;
    padding: 0;
    height: 25px;
    top: 3px;
    position: relative;
}

.infoBox { 
    background-color: white; 
    width: 300px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    border: 2px solid #3fa7d8; 
    border-radius: 3px; 
    margin-top: 10px; 
    color: black;
}
.infoBox p { 
    padding: 0; 
    color:black;
}
.infoBox:before { 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #3fa7d8; 
    top: -10px; 
    content: ""; 
    height: 0; 
    position: absolute; 
    width: 0; 
    left: 138px 
}
